/* Сброс отступов */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Скрываем значок мобильного телефона */
#ar-prompt {
    display: none;
}

/* Делаем 3D плеер на весь браузер */
model-viewer {
    height: 700px;
    width: 100%;
}

.dress-red {
    position: absolute;
    left: 1050px;
    top: 300px;
    height: 1200px;
    width: 300px;
    z-index: 1;
}
